@font-face {
  font-family: "iconfont"; /* Project id 3385754 */
  src: url('iconfont.woff2?t=1652083132557') format('woff2'),
       url('iconfont.woff?t=1652083132557') format('woff'),
       url('iconfont.ttf?t=1652083132557') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoti:before {
  content: "\e600";
}

.icon-fengexian:before {
  content: "\e601";
}

.icon-fuzhukongbai:before {
  content: "\e602";
}

.icon-liuyan:before {
  content: "\e603";
}

.icon-guanggaotupian:before {
  content: "\e604";
}

.icon-shangpin:before {
  content: "\e605";
}

.icon-fuwenben:before {
  content: "\e60d";
}

.icon-miaosha:before {
  content: "\e60e";
}

.icon-gonggao:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e610";
}

.icon-tab:before {
  content: "\e611";
}

.icon-daojishi:before {
  content: "\e612";
}

.icon-huodongzujian-04:before {
  content: "\e606";
}

.icon-huodongzujian_huaban1:before {
  content: "\e607";
}

.icon-huodongzujian-05:before {
  content: "\e608";
}

.icon-huodongzujian-13:before {
  content: "\e609";
}

.icon-huodongzujian-10:before {
  content: "\e60a";
}

.icon-huodongzujian-20:before {
  content: "\e60b";
}

.icon-huodongzujian-30:before {
  content: "\e60c";
}

