<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {{foreach $data as $key=>$value}}
        <li>
            <p>书名:{{$value["bookname"]}}</p>
            <p>作者:{{$value["author"]}}</p>
            <p>价格:{{$value["price"]}}</p>
            <p>封面:<img src='{{$value["picture"]}}' /></p>
        </li>
        {{/foreach}}

    </ul>
    
</body>
</html>