*{
    margin: 0;
    padding: 0;
    background-color:black;
    color:white;
}
p{
    line-height: 50px;
}
h2{
    margin: 10px;
}
.p1{
    text-indent:2em;
}
li{
    margin-left:1em;
    font-size:20px; 
}
main{
    width: 90%;
    height: auto;
    margin:0 auto;
}
.left{
    float: left;
    width: 60%;
    height: auto;
    border-width:2px;
    border-style: dotted;
    border-color:white;
}
.right{  
    float:right;
    margin-right:8px;
    width:35%;
    height:auto; 
    border-width:2px;
    border-style: dotted;
    border-color:white;
}
/* 左边div1 */
.div1{
}
/* 右边div2 */
.div2{

}
.div2_1{

}
.div2_2{
margin-top: 10px;
padding: 10px;
}